body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    letter-spacing: 0.6px;
    color: white;
    background-color: rgb(242 , 245, 248);
    margin: 0px;
}